@{
    ViewBag.Title = "Taxi Application";
}

<div class="jumbotron" style="background-color: lightyellow; margin:0" >
    <h1>TAXI</h1>
</div>

<div class="row">
    <img src="~/images/Taxi-slika.jpg" alt="Taxi" style="width: 100%; margin:0; padding:0;"/>
</div>